*{
    margin:0;
    padding:0;
  

  }
  header{
    border-bottom: 1px solid #1b85dc;
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(153, 169, 211);
    
  
  }
  .back{
    background-image: url('https://img.freepik.com/fotos-gratis/feche-o-fragmento-da-parede-de-concreto-de-um-edificio-desgastada-pelo-grunge_1258-28310.jpg?w=740&t=st=1712163846~exp=1712164446~hmac=206d5c36831911e669d4f4a95010d8380497ae4129b87de8872ca4c7e2519aa8');
    background-size: cover;
    background-position: center;
    margin: auto;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    
  }
  
  #logo1 img{
    height: 8vh;
  }
  #logo2 img{
    height: 8vh;
  }
  #display{
    align-items: center;
    justify-content: center;
  }
  h5{
    font-size: -3vw;
  }
  @keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: white; }
}

.animated-text {
    animation: changeColor 5s infinite;
}
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  
    
  }
 #add-notes{
    justify-content: center;
    display: flex;
    align-items: center;
    }

  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card a{
    text-decoration: none;
  }
  .card{
    border-color: black;
    border-style: double;
    border-radius: 25px;
    
  }
  
  #modal-view{
    border:1px solid #1b85dc;
    position: absolute;
    display:none;
    min-width: 50%;
    padding:10px;
    color: black;
    background-color: white;
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%; 

    
  }
  #controls{
    display: flex;
    justify-content: center;
  }
  #close-modal{
    float:right;
  }
  
  #modal{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out;
    
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }
  footer{
    align-items: center ;
    display: flex;
    justify-content: center;
    background-color: #3b4a57;
    color: white;
    min-height: 5px;
  }
