*{
    margin:0;
    padding:0;
  

  }
  header{
    border-bottom: 1px solid #1b85dc;
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(86, 121, 216);
    
  
  }
  .back{
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
    min-height: 100vh;
    width: 100%;
    
  }
  
  #logo1 img{
    height: 8vh;
  }
  #logo2 img{
    height: 8vh;
  }
  #display{
    align-items: center;
    justify-content: center;
  }
  h5{
    font-size: x-large;
    color: white;
  }
  main{
    margin: 2vh 2vw;
    min-height: 80vh;
  
    
  }
 #add-notes{
    justify-content: center;
    display: flex;
    align-items: center;
    }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card a{
    text-decoration: none;
  }
  .card{
    border-color: black;
    border-style: double;
    border-radius: 25px;
    
  }
  
  #modal-view{
    border:1px solid #1b85dc;
    position: absolute;
    display:none;
    min-width: 50%;
    padding:10px;
    color: black;
    background-color: white;
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%; 

    
  }
  #controls{
    display: flex;
    justify-content: center;
  }
  #close-modal{
    float:right;
  }
  
  #modal{
    border:1px solid #1b85dc;
    position: absolute;
    padding:2vh 2vw;
    display:none;
    width: 90vw;
    background-color:white;
    margin-left: 5%;
    margin-right: 5%;
   
    
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }
  